$bgColor = #00bcd4 // 首页颜色

outTextHide() { // 隐藏 超出文本部分
	overflow: hidden
    text-overflow: ellipsis
	white-space: nowrap
}

input::-webkit-input-placeholder {
    color #c5c8ce
    text-align center
}
